@using MyAcedemyPortfolioProject.Models.Entity
@model List<TblProjects>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="card">
                                <div class="card-header">
                                    <h2>Project List</h2>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">ID</th>
                                                <th>ImageURL</th>
                                                <th>Project Name</th>
                                                <th>Category</th>
                                                <th>GitHub URL</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var x in Model)
                                            {
                                                <tr>
                                                    <td>@x.ProjectID</td>
                                                    <td>@x.ImageUrl</td>
                                                    <td>@x.ProjectName</td>
                                                    <td>@x.TblCategories.CategoryName</td>
                                                    <td>@x.GithubUrl</td>
                                                    <td class="text-center">
                                                        <a href="/Projects/ProjectsRemove/@x.ProjectID" class="btn btn-danger" style="margin-right: 15px">Delete</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="/Projects/ProjectsGet/@x.ProjectID" class="btn btn-warning" style="margin-right: 15px">Update</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">New Project Add</button>
        @*PENCERE*@
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">New Project Add Page</h2>
                    </div>
                    <form method="post" action="/Projects/ProjectsAdd">
                        <div class="modal-body">
                            <label>Image Url</label>
                            <input type="text" name="ImageURL" class="form-control" />
                            <br />
                            <label>Project Name</label>
                            <input type="text" name="ProjectName" class="form-control" />
                            <br />
                            <label>Category</label>
                            <input type="text" name="CategoryID" class="form-control" />
                            <br />
                            <label>Github URL</label>
                            <input type="text" name="GithubUrl" class="form-control" />
                            <br />
                            <button class="btn btn-success" style="margin-left:25%; width:50%">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

